*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.head,
.main-block,
.txt-image,
.bbb {
	width: 100%;
}

.head {
	height: 100px;
	background-color: lightskyblue;
}

.main-block {
	height: 600px;
	background-color: whitesmoke;
}

.sss {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.bl1,
.bl2,
.content-image {
	float: left;
}

.bl1 {
	background-color: red;
	width: 20%;
	height: 300px;
}

.bl2 {
	height: 400px;
	background-color: #F2BA60;
	width: 80%;
}

.content-image {
	width: 250px;
	height: 200px;
	border: 1px solid black;
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.txt-img{
	/*width: 100%;*/
	height: 100%;
	padding: 20px;
	overflow-x:hidden;
}

.lorem {
	font-size: 17px;
}

.bbb {
	width: 100%;
	height: 400px;
	background-color: lightblue;
	clear: both;
	overflow-x: auto;
}

.cont {
	width: 28%;
	height: 150px;
	background-color: lightskyblue;
	float: left;
	margin-top: 33px;
	margin-left: 48px;
}
